﻿
@{
    ViewBag.Title = "Page";
}

<input id="search-input" />
<button id="search-button" type="submit">Поиск</button>
<ul id="search-results"></ul>

<!-- Нужно прикрутить бандлинг из WebGrease, или, что гораздо приятнее, прикрутить grunt/gulp -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Test/test.js"></script>
